/*sm*/
@media screen and (min-width:640px) {
    
}
/*md*/
@media screen and (min-width:768px) {
    .chefs-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .chefs-cards .card{
        width: 48%;
    }
}
/*lg*/
@media screen and (min-width:1024px) {
    .container{
        width: 80%;
    }
    .list-nav ul{
        flex-direction: row;
    }
    .list-nav ul li #home{
        color: #000;
        position: relative;
    }
    .list-nav ul li #home::before{
        content: "";
        width: 55%;
        height: 2px;
        background-color: #CE1212;
        position: absolute;
        top: 30px;
    }
    .header-content{
        width: 40%;
        text-align: left;
    }
    .header-image{
        width: 50%;
    }
    .header-image img{
        width: 100%;
        padding: 40px;
    }
    .flex-box{
        flex-direction: row;
    }
    .btn-group{
        display: flex;
        align-items: center;
        gap: 3px;
        margin-bottom: 0px;
    }
    .footer-footer{
        flex-direction: row;
    }
    .footer-footer .logo img{
        width: 10%;
    }
    .item{
        width: 49%;
    }
    form .input-group{
        flex-wrap: nowrap;
    }
    form .input-group input{
        width: 50%;
    }
    .chefs-cards{
        flex-direction: row;
    }
    .chefs-cards .card{
        width: 31.5%;
        margin: 0px;
    }
}
/*xl*/
@media screen and (min-width:1280px) {
    
}
/*2xl*/
@media screen and (min-width:1536px) {
    
}